<h1 style="color: #5e9ca0; text-align: center;">UsersDB Restful API</h1>
<p style="text-align: center;">Pass Data with JSON files.</p>
<p style="text-align: center;">Fields:</p>
<p style="text-align: center;">User-ID -&gt; INT<br />User-Name -&gt; STRING<br />User-Email -&gt; STRING<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;User-Password -&gt; STRING&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<h2 style="color: #2e6c80; text-align: center;">API options:</h2>
<table class="editorDemoTable" style="height: 237px; margin-left: auto; margin-right: auto;" width="637">
<thead>
<tr>
<td style="width: 196px;"><strong>Name of the feature</strong></td>
<td style="width: 361px;"><strong>Description</strong></td>
<td style="width: 54px;"><strong>Method</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 196px;">/ListUsers</td>
<td style="width: 361px;">Listing All The Users in DB&nbsp;</td>
<td style="width: 54px;">GET&nbsp;</td>
</tr>
<tr>
<td style="width: 196px;">/ListUser/&lt;userID&gt;</td>
<td style="width: 361px;"><span style="font-size: 13px; color: #000000;">List a Specific User in the DB</span></td>
<td style="width: 54px;">GET</td>
</tr>
<tr>
<td style="width: 196px;">/AddUser</td>
<td style="width: 361px;">Adding a user&nbsp;</td>
<td style="width: 54px;">POST</td>
</tr>
<tr>
<td style="width: 196px;">/ModifyUser</td>
<td style="width: 361px;">Modify existing user</td>
<td style="width: 54px;">&nbsp;PUT</td>
</tr>
<tr>
<td style="width: 196px;">/DeleteUser/&lt;UserID&gt;</td>
<td style="width: 361px;">Delete existing user</td>
<td style="width: 54px;">DELETE</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>&nbsp;</strong><br /><strong>Enjoy!</strong></p>
<p style="text-align: center;"><strong>&nbsp;</strong></p>